@font-face{ 
  font-family:"Tamil Sangam MN";
  src:url("./assets/fonts/tamil.ttc") format("truetype"); 
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h1 span,
h2 span,h3 span,h4 span,h5 span,h6 span,h1 em,
h2 em,h3 em,h4 em,h5 em,h6 em,h1 b,
h2 b,h3 b,h4 b,h5 b,h6 b{
  font-family: "Source Code Pro",sans-serif;
}

