.borderBox{box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box}
.grid12,.grid12 *{box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box}
.grid12 .full{width:100%}
.grid12 .half{width:50%}
.grid12 .box{width:8.333333333333332%}
.grid12 .box1-2{width:16.666666666666664%}
.grid12 .box1-3{width:25%}
.grid12 .box1-4{width:33.33333333333333%}
.grid12 .box1-5{width:41.66666666666667%}
.grid12 .box1-6{width:50%}
.grid12 .box1-7{width:58.333333333333336%}
.grid12 .box1-8{width:66.66666666666666%}
.grid12 .box1-9{width:75%}
.grid12 .box1-10{width:83.33333333333334%}
.grid12 .box1-11{width:91.66666666666666%}
.grid12 .box1-12{width:100%}
.grid12 .box1-13{width:108.33333333333333%}
.grid12 .box1-14{width:116.66666666666667%}
.grid12 .box1-15{width:125%}
.grid12 .box1-16{width:133.33333333333331%}
.grid96{box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box}
.grid96 .full{width:100%}
.grid96 .half{width:50%}
.grid96 .box{width:12.5%}
.grid96 .box1-2{width:25%}
.grid96 .box1-3{width:37.5%}
.grid96 .box1-4{width:50%}
.grid96 .box1-5{width:62.5%}
.grid96 .box1-6{width:75%}
.grid96 .box1-7{width:87.5%}
.grid96 .box1-8{width:100%}
.grid96 .box1-9{width:112.5%}
.grid96 .box1-10{width:125%}
.grid96 .box1-11{width:137.5%}
.grid96 .box1-12{width:150%}
.grid96 .box1-13{width:162.5%}
.grid96 .box1-14{width:175%}
.grid96 .box1-15{width:187.5%}
.grid96 .box1-16{width:200%}
