*{
  font-family: "Helvetica neue",Helvetica,sans,sans-serif;
}

body{
  background: rgba(51, 70, 80, 1);
  background: #ccc;
  font-size:100%;
  width: 100%;
  height: 100%;
}

.dashboard_super{
  position: relative;
  width: 100%;
  height: 100%;
  z-index:3000;
}

.dashbaord_stage{
  z-index:6000;
}

.dashboard_controls{
  z-index:8000;
}

dashboard-header{
  color:#fff;
}