/* -- layout and color based css values*/

#wrapper,.wrapper{
}

.dashboard{
  background: rgba(22,22,22,0.2);
}

.dashboard_panel{
}

.dashboard_widget{
}


.dashboard_widget .widget_header{
    background: rgba(20,20,20,0.5);
}

#menu_widget{
}

.dashboard_widget .widget_menu{
  background: green;
}

.dashboard_widget .widget_menu li{
  text-align: center;
  font-size: 1.5em;
  font-style: bold;
  font-weight: bold;
}
